<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="images/public-transport.png" style="width: 40px;max-height: 40px"><span class="fs-4">FACIL</span>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark"><i class="bi bi-house-fill m-2"></i>Início</a></li>
            <li><a href="/schedule" class="nav-link px-2 link-dark"><i class="bi bi-search m-2"></i>Horários</a></li>
            <li><a href="/booking" class="nav-link px-2 link-dark"><i class="bi bi-calendar-date m-2"></i>Reservas</a></li>
            <li><a href="/about" class="nav-link px-2 link-dark"><i class="bi bi-info-square m-2"></i>Sobre</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" onclick="window.location.href='/login'">Login
            </button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/register'">Registo</button>
        </div>
    </header>
</div>