<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body class="d-flex text-center text-bg-dark">
<%- include('./partials/header.ejs') %>
<div class="b-example-divider"></div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="py-5 my-5">
        <h1 class="display-6 fw-normal">Contactos</h1><br>
        <p><i class="lead mb-4 text bi bi-telephone m-2"></i>+351 291 123 456</p>
        <p><i class="lead mb-4 text bi bi-envelope m-2"></i>grupo12b@er.uma.pt</p>
        <p><i class="lead mb-4 text bi bi-geo-alt m-2"></i>Universidade da Madeira</p>
    </div>
</div>
<div class="b-example-divider"></div>
<%- include('./partials/footer.ejs') %>
</body>
