<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body class="d-flex text-center text-bg-dark">
<%- include('./partials/header.ejs') %>
<div class="b-example-divider"></div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="py-5 my-5">
        <main class="px-3">
            <h1>Sistema FACIL</h1>
            <p class="lead">Sistema que tem como principal objetivo facilitar o transporte dos residentes que vivem 
            na área de Cinfães , situado no distrito de Viseu.</p>
            <p class="lead">
                <a href="/" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark">Learn more</a>
            </p>
        </main>
    </div>
</div>
<div class="b-example-divider"></div>
<%- include('./partials/footer.ejs') %>
</body>
</html>