<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<style>
</style>
<body class="d-flex text-center text-bg-dark">
<%- include('./partials/header.ejs') %>
<div class="b-example-divider"></div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="py-5 my-5">
        <div class="col-md-10 mx-auto col-lg-8">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" action="/password_recovery">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="new_password" placeholder="Nova palavra-passe">
                    <label for="floatingInput">Nova palavra-passe</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword"
                           placeholder="Confirmar palavra-passe">
                    <label for="floatingPassword">Confirmar palavra-passe</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-secondary" onclick="window.location.href='/login'">
                    Submeter
                </button>
            </form>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<%- include('./partials/footer.ejs') %>
</body>
</html>