<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<style>
</style>
<body class="d-flex text-center text-bg-dark">
<%- include('./partials/header.ejs') %>
<div class="b-example-divider"></div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="py-5 my-5">
        <table class="table table-hover table-bordered table-hover">
            <thead>
            <tr>
                <th class="table-dark" scope="col" colspan="6">Carreira nº6</th>
            </tr>
            <tr class="table-info">
                <th scope="col" colspan="2">Dias úteis</th>
                <th scope="col" colspan="2">Sábados</th>
                <th scope="col" colspan="2">Domingos e Feriados</th>
            </tr>
            <tr>
                <th class="table-secondary" scope="col">Origem</th>
                <th scope="col">Destino</th>
                <th class="table-secondary" scope="col">Origem</th>
                <th scope="col">Destino</th>
                <th class="table-secondary" scope="col">Origem</th>
                <th scope="col">Destino</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Origem1</td>
                <td>Destino1</td>
                <td>Origem1</td>
                <td>Destino1</td>
                <td>Origem1</td>
                <td>Destino1</td>
            </tr>
            <tr>
                <td>Origem2</td>
                <td>Destino2</td>
                <td>Origem2</td>
                <td>Destino2</td>
                <td>Origem2</td>
                <td>Destino2</td>
            </tr>
            <tr>
                <td>Origem3</td>
                <td>Destino3</td>
                <td>Origem3</td>
                <td>Destino3</td>
                <td>Origem3</td>
                <td>Destino3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="b-example-divider"></div>
<%- include('./partials/footer.ejs') %>
</body>
</html>